.player{
width: 300px;
display: flex;
align-items: center;
background-color: #4b4b4bd2;
border-radius: 50px 0 0 50px;

  span {
    font-size: 24px;
    margin-left: 16px;
  }

  img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.player-active{
  background-color: purple !important;
}
